* {
    font-family: 'Chakra Petch', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("wallpaperflare.com_wallpaper.jpg");
    background-position: center;
    background-size: cover;
    //background: linear-gradient(0.25turn, #36454F, #A9A9A9, #36454F);
    height: 100vh; /* Ensure gradient spans the entire viewport height */
    
}

h1 {
  color: white;
  font-size: 50px;
  background-color: rgba(54, 69, 79, .3);
  -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;

    
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.page-container {
    border-radius: 15px;
    border-color: #36454F;
    background-color: rgba(54, 69, 79, .8);
    margin-left: 150px;
    margin-right: 150px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  
  border-radius: 15px;
  border-color: #36454F;
  background-color: rgba(54, 69, 79, .8);
  margin-left: 150px;
  margin-right: 150px;
}

.profile {
  display: flex;
  flex: 0 0 calc(33.33% - 20px); /* Adjust width as needed */
  margin: 10px;
  text-align: center;
  justify-content: space-evenly;
}

.leaders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.midtier {
  display: flex;
  justify-content: center;
  //justify-items: center;
  //width: 100%;
}

.enlisted {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.profile-modal {
    display: none;
    position: relative;
    //top: 50%; /* Position from the top edge */
    //left: 50%; /* Position from the left edge */
    //transform: translate(-50%); /* Center the modal */
    width: 80%;
    max-width: 600px; /* Adjust as needed */
    border-radius: 5px;
}

.modal-content {
    background-color: grey;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    //max-width: 100%;
    //max-height: 100%;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

.redacted {
    background-color: black;
    transition: background-color 0.3s;
}

.redacted:hover {
    background-color: transparent;
}

.character-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a {
  color: white;
}

// fancy button css

.btn-87,
.btn-87 *,
.btn-87 :after,
.btn-87 :before,
.btn-87:after,
.btn-87:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-87 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-87:disabled {
  cursor: default;
}
.btn-87:-moz-focusring {
  outline: auto;
}
.btn-87 svg {
  display: block;
  vertical-align: middle;
}
.btn-87 [hidden] {
  display: none;
}
.btn-87 {
  background: none;
  border-radius: 999px;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  font-size: 16px;
  font-weight: 900;
  height: 110px;
  position: relative;
  text-transform: uppercase;
  width: 110px;
}
.btn-87 span {
  mix-blend-mode: difference;
}
.btn-87:before {
  background: #fff;
  border-radius: 50%;
  content: "";
  inset: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s linear;
  z-index: -1;
}
.btn-87:hover:before {
  opacity: 1;
  transition: opacity 0.2s linear 1s;
}
.btn-87 svg {
  fill: none;
  stroke: currentcolor;
  stroke-width: 4px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  height: 105%;
  left: -5px;
  pointer-events: none;
  position: absolute;
  top: -5px;
  transition: stroke-dashoffset 0.4s ease-in-out;
  width: 105%;
}
.btn-87 circle {
  cx: 52%;
  cy: 52%;
  r: 45%;
}
.btn-87:hover svg {
  stroke-dashoffset: 120;
  transition: stroke-dashoffset 1s ease-in-out;
}

.btn-5,
.btn-5 *,
.btn-5 :after,
.btn-5 :before,
.btn-5:after,
.btn-5:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-5 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-5:disabled {
  cursor: default;
}
.btn-5:-moz-focusring {
  outline: auto;
}
.btn-5 svg {
  display: block;
  vertical-align: middle;
}
.btn-5 [hidden] {
  display: none;
}
.btn-5 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-5 span {
  mix-blend-mode: difference;
}
.btn-5:before {
  --tilt: 1.2rem;
  background: #fff;
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  content: "";
  display: block;
  height: 100%;
  left: calc(-100% - var(--tilt));
  position: absolute;
  top: 0;
  transform: translateX(var(--progress, 0));
  transition: transform 0.2s ease;
  width: calc(100% + var(--tilt));
}
.btn-5:hover:before {
  --progress: 100%;
}
